.sidebar{
    background-color: rgb(60, 169, 60);
}
.sidebar ul {
    margin-top: 20px; /* Optional: add some space at the top of the sidebar */
  }
  .sidebar ul li {
    margin-top: 30px; /* Gap between list items from the top */
  }
  